<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonyAsk</title>

    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/util.js"></script>
</head>
<body>
    <h1>Welcome to <span class = "posh">AnonyAsk</span>!</h1>

    Here you can:
    <ul>
        <li>Ask questions</li>
        <li>Answer questions</li>
        <li>Find answers</li>
    </ul>

    <button onclick="redirect('/ask')">Ask a question!</button>

    <br>

    {%for i in home_questions%} 
        <div class = "answer">
            <a href = "/question/{{i._id}}"><h2>{{i.subject}}</h2></a>
            {{i.text}}
            <br>
            <span class="posh">Date: {{i.date}}</span>
        </div>
    {%endfor%} 
</body>
</html>